#### 1. Take the input from the user for(Total number of people,Number of seats for bus. Based on two inputs dDecide how many number of buses required.

In [ ]:
def calculate_buses_required(total_people, seats_per_bus):
    if (total_people % seats_per_bus) == 0:
       no_of_buses_required = total_people // seats_per_bus
    else:
        no_of_buses_required = (total_people // seats_per_bus) + 1
        return no_of_buses_required
total_people = int(input("Enter the total number of people: "))
seats_per_bus = int(input("Enter the number of seats per bus: "))
result = calculate_buses_required(total_people, seats_per_bus)
print("Number of buses required:", result)

#### 2.Take temperature from the user and convert foreign heat -> Celsius.

In [2]:
def fahrenheit_to_celsius(fahrenheit):
    celsius = (fahrenheit - 32) * 5 / 9
    return celsius
fahrenheit = 98.6
celsius = fahrenheit_to_celsius(fahrenheit)
print("Temperature in Celsius:", celsius)

Temperature in Celsius: 37.0

#### 3. Take temperature from the user and convert Celsius → foreign heat.

In [3]:
def celsius_to_fahrenheit(celsius):
    fahrenheit = (celsius * 9 / 5) + 32
    return fahrenheit
celsius = 78.6
fahrenheit = celsius_to_fahrenheit(celsius)
print("Temperature in Fahrenheit:", fahrenheit)

Temperature in Fahrenheit: 173.48

#### 4. Take four number from the user (variables name it as x1,x2,x3,x4)
#### Do the below operations
 #### (x1+x2)**2, (x3+x4)**3
#### variance
#### standard deviation: sqrt(variance):  User math module. Math.sqrt(variance)
#### Regression
	## y=mx+b
          m=1.23
          b=0.045
          find out y
          y=m*(x1+x2+x3+x4)+b
#### Find the average of four numbers
#### Find the sum of four numbers

In [6]:
import math

# User input
x1 = int(input("Enter the value of x1: "))
x2 = int(input("Enter the value of x2: "))
x3 = int(input("Enter the value of x3: "))
x4 = int(input("Enter the value of x4: "))

def strd(x1, x2, x3, x4):
    m = 1.23
    b = 0.045
    
    # Square of Sum
    result1 = (x1 + x2) ** 2
    
    # Cube of Sum
    result2 = (x3 + x4) ** 3
    
    # Mean value
    mean = (x1 + x2 + x3 + x4) / 4
    
    # Variance calculation
    variance = ((x1 - mean) ** 2 + (x2 - mean) ** 2 + (x3 - mean) ** 2 + (x4 - mean) ** 2) / 4
    
    # Standard Deviation calculation
    standard_deviation = math.sqrt(variance)
    
    # Regression calculation
    regression = m * (x1 + x2 + x3 + x4) + b
    
    # sum of four numbers
    sum_of_four_numbers = (x1 + x2 + x3 + x4)
    
    return mean, variance, standard_deviation, regression, sum_of_four_numbers

# Calculate results
mean, variance, standard_deviation, regression, sum_of_four_numbers= strd(x1, x2, x3, x4)

# Print results
print(f"Mean of four numbers: {mean}")
print(f"Variance: {variance}")
print(f"Standard Deviation: {standard_deviation}")
print(f"Regression result: {regression}")
print(f"sum_of_four_numbers : {sum_of_four_numbers}")

Enter the value of x1:  5
Enter the value of x2:  6
Enter the value of x3:  8
Enter the value of x4:  9

Mean of four numbers: 7.0
Variance: 2.5
Standard Deviation: 1.5811388300841898
Regression result: 34.485
sum_of_four_numbers : 28

 #### 5. Take the distance in km.Show that in cm, meters, in milli meters, cents, feets, yards

In [8]:
km = int(input("Enter distance in km: "))
def distance(km):
    # Conversions
    meters = km * 1000
    centimeters = km * 100000
    millimeters = km * 1000000
    feet = km * 3280.84
    yards = km * 1093.61
    # Convert km to square feet (assuming 1 km² = 10,763,910 square feet)
    square_feet = (km ** 2) * 10763910
    cents = square_feet / 435.56
    return meters, centimeters, millimeters, feet, yards,square_feet,cents
meters, centimeters, millimeters, feet, yards,square_feet,cents = distance(km)
print(f"Distance: {km} kilometers")
print(f"  Meters: {meters} m")
print(f"  Centimeters: {centimeters} cm")
print(f"  Millimeters: {millimeters} mm")
print(f"  Feet: {feet} ft")
print(f"  Yards: {yards} yd")
print(f"  Square Feet: {square_feet:.2f} sq ft")
print(f"  Cents: {cents:.2f} cent")

Enter distance in km:  122

Distance: 122 kilometers
  Meters: 122000 m
  Centimeters: 12200000 cm
  Millimeters: 122000000 mm
  Feet: 400262.48000000004 ft
  Yards: 133420.41999999998 yd
  Square Feet: 160210036440.00 sq ft
  Cents: 367825411.98 cent

#### 6.Take the size of your hard disk in GB.Show that in MB, KB, TB, PB

In [9]:
size_gb = int(input("Enter size of the disk :"))
def strg(size_gb):
    mb = size_gb * 1024
    kb = size_gb * 1024 * 1024
    tb = size_gb / 1024
    pb = size_gb / (1024 * 1024)
    return mb,kb,tb,pb
mb,kb,tb,pb = strg(size_gb)
# Print the results
print(f"Size: {size_gb} GB")
print(f"  Megabytes: {mb} MB")
print(f"  Kilobytes: {kb} KB")
print(f"  Terabytes: {tb} TB")
print(f"  Petabytes: {pb} PB")

Enter size of the disk : 20

Size: 20 GB
  Megabytes: 20480 MB
  Kilobytes: 20971520 KB
  Terabytes: 0.01953125 TB
  Petabytes: 1.9073486328125e-05 PB

#### 7. Take name, age, height from the user and print like below.The details of the person: Name:name of the person, Age:age of the person, Height:height of the person

In [10]:
name = input("Enter your name: ")
age = input("Enter your age: ")
height = input("Enter your height (in cm): ")

def details(name,age,height):
    return name,age,height

name,age,height = details(name,age,height)
# Print the details in the specified format
print(f"The details of the person: Name:{name}, Age:{age}, Height:{height}")

Enter your name:  tejaswini
Enter your age:  33
Enter your height (in cm):  5

The details of the person: Name:tejaswini, Age:33, Height:5

#### 8. BMI calculation: take required parameters for BMI calculation from the user and calculate BMI of the person.

In [11]:
weight_kg = float(input("Enter your weight in kilograms: "))
height_m = float(input("Enter your height in meters: "))
def bmi_cal(weight_kg,height_m):
    bmi = weight_kg / (height_m ** 2)
    return bmi

bmi = bmi_cal(weight_kg,height_m)
print("Your BMI is:", bmi)

Enter your weight in kilograms:  27
Enter your height in meters:  30

Your BMI is: 0.03

#### 9. name="Jayaram"
#### age=1.6 height=3.5356234 weight=10.343856783 By using above inputs print the output Name:Jayaram, Age:1.6, Height:3.54, Weight:10.344

In [12]:
name = "Jayaram"
age = 1.6
height = 3.5356234
weight = 10.343856783
def fun(name,age,height,weight):
    print("Name: %s, Age: %.1f, Height: %.2f, Weight: %.3f" % (name, age, height, weight))
call = fun(name,age,height,weight)

Name: Jayaram, Age: 1.6, Height: 3.54, Weight: 10.344

#### 10.Take three upper case letters from the user convert in to small case.

In [17]:
letter1 = input("Enter the first uppercase letter: ")
letter2 = input("Enter the second uppercase letter: ")
letter3 = input("Enter the third uppercase letter: ")
def up_low(letter1,letter2,letter3):
    lowercase1 = chr(ord(letter1) + 32)
    lowercase2 = chr(ord(letter2) + 32)
    lowercase3 = chr(ord(letter3) + 32)
    return lowercase1,lowercase2,lowercase3

lowercase1,lowercase2,lowercase3 =up_low(letter1,letter2,letter3)
print(f"Lowercase letters: {lowercase1}, {lowercase2}, {lowercase3}")

Enter the first uppercase letter:  A
Enter the second uppercase letter:  D
Enter the third uppercase letter:  E

Lowercase letters: a, d, e

#### 11. Take base and exponent value from the user and print like in mathematics: example: base=2, exponent=3: 23