In [6]:
numbers=[10,20,30,40]
for num in numbers:
    print("HELLO")
    print(num)
print("HI")

HELLO
10
HELLO
20
HELLO
30
HELLO
40
HI

In [7]:
numbers=(10,20,30,40)
for num in numbers:
    print("HELLO")
    print(num)
print("HI")

HELLO
10
HELLO
20
HELLO
30
HELLO
40
HI

In [10]:
for num in "1000":
      print(num)

1
0
0
0

In [11]:
for num in "pot":
    print(num)
    print("hi")
    print("hello")

p
hi
hello
o
hi
hello
t
hi
hello

In [12]:
for num in False:
    print(num)

TypeError: 'bool' object is not iterable

In [13]:
for num in 1000:
    print(num)

TypeError: 'int' object is not iterable

In [14]:
for num in 12.4:
    print(num)

TypeError: 'float' object is not iterable

In [15]:
for num in None:
    print(num)

TypeError: 'NoneType' object is not iterable

In [16]:
data = {"name":"AJA", "address":"HYD"}
for num in data:
    print(num)

name
address

In [19]:
for i in []:
    print(i)
    print("hi")
print("HELLO")

HELLO

In [20]:
num=10
if num>0:
    print("+ve")
else:
    print("-ve")

+ve

In [21]:
numbers=[10,-3,4,5,6,-20,45]
for num in numbers:
    print(num)
print("DONE")

10
DONE
-3
DONE
4
DONE
5
DONE
6
DONE
-20
DONE
45
DONE

In [35]:
numbers=[10,-3,4,5,6,-20,45]
for num in numbers:
    if num>=0:
       print(num,"+VE")
    else:
       print(num,"-VE")
print("DONE")

10 +VE
-3 -VE
4 +VE
5 +VE
6 +VE
-20 -VE
45 +VE
DONE

In [ ]:
numbers=[10,-3,4,5,6,-20,45]
for num in numbers:
    if num>=0:
       print(num,"+VE")
    else:
       print(num,"-VE")
print("DONE")

In [ ]:
numbers=[]
p_n=0
n_n=0
for num in numbers:
    if num>=0:
        p_n=p_n+1
    else:
        n_n=n-n+1
        print(p_n)
        print(n_n)