In [ ]:
a=1000
b=a
c=1000
b=2000

In [2]:
s="pot"
d=s
e="pat"
print(s[0], id(s[0]))
print(e[0], id(e[0]))

p 3284164
p 3284164

In [5]:
a=1000
b=a
c=1000
b=2000

In [1]:
print(1+False)

1

In [2]:
print(1+23.445)

24.445

In [3]:
print(2+3+4j)

(5+4j)

In [5]:
complex(2)

(2+0j)

In [7]:
print(str(10)+"20")

1020

In [8]:
print(10+int("20"))

30

In [9]:
print(10<20)

True

In [10]:
print("10"<9)

<class 'TypeError'>: '<' not supported between instances of 'str' and 'int'

In [11]:
print("10"<"9")

True

In [12]:
print("apple"<"ant")

False

In [14]:
print([10,20,30,40]>[100,-20,-30,-40])

False

In [15]:
print([10,20,30]>[10,20,30])

False

In [18]:
print((1,2,3,4)<(10,-20,-30,-40))

True

In [19]:
#Lexical comparison

In [20]:
print({1,2,3,4}>{10,2,3,4})

False

In [21]:
print({10,20,30,40})

{40, 10, 20, 30}

In [24]:
a={10,20,30,40}
print(a[0])

<class 'TypeError'>: 'set' object is not subscriptable

In [25]:
set doesnot follow order
print({1,2,3,4}>{2,3,4})

<class 'SyntaxError'>: invalid syntax (<ipython-input-25-8d3768515fc1>, line 1)

In [26]:
print({1,2,3,4}>{2,3,4})

True

In [27]:
#sub sets & super sets

<class 'SyntaxError'>: invalid syntax (<ipython-input-27-23e7c9978e4a>, line 1)

In [28]:
a={1,2,3,4}
b={2,3}

In [29]:
{1,2,3,4}<{3,1}

False

In [30]:
{1,2,3,4}<{3,1,200}

False

In [32]:
print(20==20)

True

In [33]:
print("apple"=="apple")

True

In [34]:
print("apple"<"ant")

False

In [35]:
print(ord("p"))
print(ord("n"))

112
110

In [37]:
print("apple"=="APPLE")
print(ord("a"))
print(ord("A"))

False
97
65

In [41]:
required_params="id,name,age"
given_params="id,age,name"
print(required_params==given_params)

False

In [42]:
required_params={"id","name","age"}
given_params={"id","age","name"}
print(required_params==given_params)

True

In [43]:
a=1000
b=1000
print(a==b)# value attribute True
print(a is b)# is: id:

True
False

In [44]:
a=1000
b=a
print(a==b)# ==: value attribute: True
print(a is b)# is: id:True

True
True

In [1]:
"hyd" in "hyderabad"

True

In [2]:
"dera" in "hyderabad"

True

In [3]:
"dr" in "hyderabad"

False

In [4]:
12 in (1,12,34,56)

True

In [5]:
12 in {1,12,34,56}

True

In [6]:
"name" in {"name": "AJA", "address":"HYD"}

True

In [7]:
"address" in {"name": "AJA", "address":"HYD"}

True

In [8]:
"AJA" in {"name": "AJA", "address":"HYD"}

False

In [9]:
1 in "100"

<class 'TypeError'>: 'in <string>' requires string as left operand, not int

In [10]:
"1" in "100"

True

In [11]:
1 i "100"

<class 'SyntaxError'>: invalid syntax (<ipython-input-11-852d54233a26>, line 1)

In [12]:
1 in 1000

<class 'TypeError'>: argument of type 'int' is not iterable

In [13]:
"1" not in "1000"

False

In [14]:
"1"in "1000"

True

In [15]:
# and or tables

In [17]:
"""
True and True= True
True and False= False
False and True= False
False and False =False

True or True = True
True or False = True
False or True = True
False or False = False

"""

'\nTrue and True= True\nTrue and False= False\nFalse and True= False\nFalse and False =False\n\nTrue or True = True\nTrue or False = True\nFalse or True = True\nFalse or False = False\n\n'

In [18]:
10>2 & 13<45

True

In [19]:
"hy" in "hyderabad" and "AJA" in {"name":"AJA"}

False

In [21]:
10=="10" or "apple"=="APPLE"

False

In [22]:
10=="10"

False

In [23]:
"""
True XOR True=False
True XOR False=True
False XOR True=True
False XOR False=False

"""

'\nTrue XOR True=False\nTrue XOR False=True\nFalse XOR True=True\nFalse XOR False=False\n\n'

In [27]:
(10>2) != ("hyd" in "hyderabad")

False

In [28]:
(10>2) != ("HYD" in "hyderabad")

True

In [ ]:
a=1000
b=2000
print(a+b)